<div *ngIf="restaurant">

  <h1>{{ restaurant.name | uppercase }}</h1>
  <ul class="restaurant-data">
    <li *ngIf="restaurant.cuisine">Cuisine: <span class="mat-h2">{{ restaurant.cuisine }}</span></li>
    <li *ngIf="restaurant.address">Address: {{ restaurant.address }}</li>
    <li *ngIf="restaurant.phone">Phone: {{ restaurant.phone }}</li>
  </ul>
  <button mat-flat-button color="primary" class="review-button" (click)="openDialog(restaurant)">Leave a review</button>

  <mat-divider></mat-divider>
  
  <div class="restaurant-menu" *ngFor="let dish of dishes">
    <div *ngIf="dish.restaurant == restaurant.name">

      <div (click)="toggleSection('Appetizer')" class="toggle mat-h3">Appetizers</div>
      <div class="appetizer" *ngIf="showAppetizer">
        <div *ngIf="dish.course == 'Appetizer'">
          <a routerLink="/dish" [queryParams]="{ id: dish.id }">
          <p>{{dish.name}}</p></a></div>
      </div>

      <div (click)="toggleSection('Entree')" class="toggle mat-h3">Entree</div>
      <div class="entree" *ngIf="showEntree">
        <div *ngIf="dish.course == 'Entree'">
          <a routerLink="/dish" [queryParams]="{ id: dish.id }">
          <p>{{dish.name}}</p></a></div>
      </div>

      <div (click)="toggleSection('Side')" class="toggle mat-h3">Side</div>
      <div class="side" *ngIf="showSide">
        <div *ngIf="dish.course == 'Side'">
          <a routerLink="/dish" [queryParams]="{ id: dish.id }">
          <p>{{dish.name}}</p></a></div>
      </div>

      <div (click)="toggleSection('Dessert')" class="toggle mat-h3">Dessert</div>
      <div class="dessert" *ngIf="showDessert">
        <div *ngIf="dish.course == 'Dessert'">
          <a routerLink="/dish" [queryParams]="{ id: dish.id }">
          <p>{{dish.name}}</p></a></div>
      </div>

    </div>
  </div>

  <mat-divider></mat-divider>
  
  <div class="review-card" *ngFor="let review of restaurantReviews">
    <div *ngIf="review.restaurantId == restaurant.id">
      <p>Overall Score: {{ review.overall | number: "1.0-2" }}/10</p>
      <p>Price: {{ review.price }}/10</p>
      <p>Service: {{ review.service }}/10</p>
      <p>Location: {{ review.location }}/10</p>
      <p>Atmosphere: {{ review.atmosphere }}/10</p>
      <p>Cleanliness: {{ review.cleanliness }}/10</p>
      <p>Availability: {{ review.availability }}/10</p>
      <p>Accessibility: {{ review.accessibility }}/10</p>
      <em>"{{ review.comment }}" - User</em>
    </div>
  </div>

</div>

<!--  <button type="button" (click)="goBack()">go back</button>-->
<!--  <button type="button" (click)="save()">save</button>-->

<!-- In the component's template -->
<!--<div>{{ restaurant?.name }}</div>-->
