<div *ngIf="restaurant">

  <div class="flex-container">
    <h2>{{restaurant.name | uppercase}}</h2>
    <button mat-raised-button color="primary" (click)="openDialog(restaurant)">Leave a review</button>
  </div>
  <p>{{restaurant.address}}</p>
  <p>{{restaurant.phone}}</p>
  <p>{{restaurant.cuisine}}</p>

  <div class="restaurant menu" *ngFor="let dish of dishes">
    <div *ngIf="dish.restaurant == restaurant.name">

      <div (click)="toggleSection('Appetizer')" class="toggle"><h3>Appetizers</h3></div>
      <div class="appetizer" *ngIf="showAppetizer">
        <div *ngIf="dish.course == 'Appetizer'">
          <a routerLink="/dish" [queryParams]="{ id: dish.id }">
          <p>{{dish.name}}</p></a></div>
      </div>

      <div (click)="toggleSection('Entree')" class="toggle"><h3>Entree</h3></div>
      <div class="entree" *ngIf="showEntree">
        <div *ngIf="dish.course == 'Entree'">
          <a routerLink="/dish" [queryParams]="{ id: dish.id }">
          <p>{{dish.name}}</p></a></div>
      </div>

      <div (click)="toggleSection('Side')" class="toggle"><h3>Side</h3></div>
      <div class="side" *ngIf="showSide">
        <div *ngIf="dish.course == 'Side'">
          <a routerLink="/dish" [queryParams]="{ id: dish.id }">
          <p>{{dish.name}}</p></a></div>
      </div>

      <div (click)="toggleSection('Dessert')" class="toggle"><h3>Dessert</h3></div>
      <div class="dessert" *ngIf="showDessert">
        <div *ngIf="dish.course == 'Dessert'">
          <a routerLink="/dish" [queryParams]="{ id: dish.id }">
          <p>{{dish.name}}</p></a></div>
      </div>

    </div>
  </div>

</div>

<!--  <div><span>id: </span>{{restaurant.id}}</div>-->
<!--  <div>-->
<!--    <label for="restaurant-name">Restaurant name: </label>-->
<!--    <input id="restaurant-name" [(ngModel)]="restaurant.name" placeholder="Restaurant name"/>-->
<!--  </div>-->
<!--  <button type="button" (click)="goBack()">go back</button>-->
<!--  <button type="button" (click)="save()">save</button>-->

<!-- In the component's template -->
<!--<div>{{ restaurant?.name }}</div>-->


