<div *ngIf="dish">

  <h2>{{dish.name}}</h2>
  <p>Restaurant:</p>
  <a routerLink="/restaurant-page" [queryParams]="{ id: dish.restaurantId }">{{ dish.restaurant }}
  </a>
    <p>Price : ${{dish.price}}</p>
  <p>Course: {{dish.course}}</p>
  <div class="tryFavDislike">
    <button type="button" (click)="toTryClick(dish)">To Try</button>
    <button type="button" (click)="favoriteClick(dish)">Favorite</button>
    <button type="button" (click)="dislikeClick(dish)">Dislike</button>
  </div>


  <div class="overallDishScore">
  <p>Overall Dish Score: {{overallReviewScore}}/10</p>
  </div>


  <button mat-raised-button color="primary" (click)="openDialog(dish)">Leave a review</button>

  <!--  Add in the standards for favorite, dislike, to try, and the score-->
<div class="reviewHeader"><h3>Reviews</h3></div>


  <div class="reviews" *ngFor="let review of dishReview">
    <div *ngIf="review.dishId == dish.id">
      <p>Overall Score: {{review.overall}}</p>
      <div id="tastes"><p>Tastes</p>
      <p>salty: {{review.salty}}/10</p>
      <p>sweet: {{review.sweet}}/10</p>
      <p>savory: {{review.savory}}/10</p>
      <p>sour: {{review.sour}}/10</p>
      <p>bitter: {{review.bitter}}/10</p>
      </div>
      <div id="scores">
        <p>Scores</p>
        <p>Presentation: {{review.presentation}}/10</p>
        <p>Price: {{review.value}}/10</p>
        <p>Temperature: {{review.temperature}}/10</p>
        <p>Doneness: {{review.doneness}}/10</p>
      </div>
      <p>{{review.comment}}</p>
    </div>
  </div>


</div>
