
<h1 mat-dialog-title>Review {{ restaurant.name }} <span class="mat-small">(#{{ restaurant.id }})</span></h1>
  <ul mat-dialog-content>
    <li>
      <div>Price</div>
      <mat-slider min="0" max="10" step="1" value="0"></mat-slider>
    </li>
    <li>
      <div>Service</div>
      <mat-slider min="0" max="10" step="1" value="0"></mat-slider>
    </li>
    <li>
      <div>Cleanliness</div>
      <mat-slider min="0" max="10" step="1" value="0"></mat-slider>
    </li>
    <li>
      <div>Atmosphere</div>
      <mat-slider min="0" max="10" step="1" value="0"></mat-slider>
    </li>
    <li>
      <div>Accessibility</div>
      <mat-slider min="0" max="10" step="1" value="0"></mat-slider>
    </li>
    <li>
      <div>Location</div>
      <mat-slider min="0" max="10" step="1" value="0"></mat-slider>
    </li>
  </ul>
<div mat-dialog-actions>
  <button mat-stroked-button color="primary" [mat-dialog-close]="restaurant" (click)="submitReview(restaurant)" cdkFocusInitial>Submit Review</button>
</div>
