<h1 mat-dialog-title>Review {{ restaurant.name }} <span class="mat-small"></span></h1>
  <ul mat-dialog-content>
    <li *ngFor="let score of boundScores">
      <p class="mat-h4 score-label">{{ score }}</p>
      <mat-slider min="0" max="10" step="1" value="0" thumbLabel="true" [(ngModel)]="review[score]" (ngModelChange)="updateReviewScore()"></mat-slider>
    </li>
  </ul>
  <p class="overall-score">Overall: <span class="mat-h2">{{ review.overall | number: "1.0-2" }}/10</span></p>

  <label for="comment-box">Comments</label>
  <input type="text" name="comment-box" id="comment-box" [(ngModel)]="review.comment">

<div mat-dialog-actions>
  <button mat-stroked-button color="primary" [mat-dialog-close]="restaurant" (click)="submitRestaurantReview()">Submit Review</button>
</div>
