<h1 mat-dialog-title>Rate Your {{ dish.name }} <span class="mat-small">(#{{ dish.id }})</span></h1>
  <ul mat-dialog-content>
    <li *ngFor="let score of boundScores">
      <p class="mat-h4 score-label">{{ score }}</p>
      <mat-slider min="0" max="10" step="1" value="0" thumbLabel="true" [(ngModel)]="dishReview[score]" (ngModelChange)="updateReviewScore()"></mat-slider>
    </li>
  </ul>
  <p class="overall-score">Overall: <span class="mat-h2">{{ dishReview.overall | number: "1.0-2" }}/10</span></p>

<div mat-dialog-actions>
  <button mat-stroked-button color="primary" [mat-dialog-close]="dish" (click)="addReview()">Submit Review</button>
</div>
