<!--<mat-dialog-actions>-->
<!--  <button mat-button mat-dialog-close>Cancel</button>-->
<!--&lt;!&ndash;  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Submit</button>&ndash;&gt;-->
<!--  <button mat-button mat-dialog-close>Submit</button>-->
<!--</mat-dialog-actions>-->

<h1 mat-dialog-title>Rate Your {{ dish.name }} <span class="mat-small">(#{{ dish.id }})</span></h1>
  <ul mat-dialog-content>
    <li *ngFor="let score of scores">
      <div>{{ score.name }}</div>
      <mat-slider min="0" max="10" step="1" value="0" thumbLabel="true" [(ngModel)]="score.value" (ngModelChange)="updateReviewScore()"></mat-slider>
      <!-- PROBLEM: ngModel updates after input event is called rather than before -->
    </li>
  </ul>
  <p class="overallScore">Overall: <span class="mat-h2">{{ finalReviewScore }}/10</span></p>

<div mat-dialog-actions>
  <button mat-stroked-button color="primary" [mat-dialog-close]="dish" (click)="submitDishReview(dish)">Submit Review</button>
</div>